@import 'template';

div.inicio
{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
}

.testezap{
    margin: 0 auto;
    width: 80%;
}

.cupomContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

img.lista
{
    height:30px;
    width:30px;
}

h5.oi
{
    font-size: 20px;
    margin-left: 15px;
    
}

div.doisdivs
{
    display:flex;
    flex-direction: row;
    margin-left: 50px;
}

div.cupom
{
    margin-top: 20px;
    width:700px;
    height:150px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: #e6e6e6;
    border-radius: 20px;
    color:#818181;
    box-shadow: 6px 11px 18px #888888;

    div.texto
    {
        h3{
            font-size: 30px;
            font-weight: bold;
            margin: 0;
            margin-bottom: 5px;
        }

        p
        {
            margin: 0;
            font-size:20px;            
        }
    }

    button
    {   
        display: flex;
        align-items: center;
        justify-content: center;

        width:252px;
        height:50px;
        background-color: $ciano;
        border-radius: 11px;
        border-style: none;
        font-family: $fonte;
        color:white;
        font-size: 20px;
        font-weight: bold;
    }
}


