$ciano: #0BBAB3;
$marrom: #4E2F00;
$border-radius20: 20px;
$border-radius10: 10px;
$fonte: 'Raleway', sans-serif;;

@import 'template';

@mixin centralizar{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body{
    margin: 0 auto; 
    background-color: #F5F5F5;
    font-family: Raleway;
}

h1
{
    font-size: 52px;
}

h2
{
    font-size: 40px;
}

h3
{
    font-size: 25px;
}

h4
{
    font-size: 20px;
}

header
{
    position: relative; 
    height: 160px; 
}

nav 
{
    margin-top:0px;
    a 
    {
        margin-left: 140px;
        color:white;
        font-size:23px;
        text-decoration: none;
        transition:.7s;        
    }

    a:hover{
        color:#b8b8b8;
    }

    a:first-of-type
    {
        margin-left: 0px;
    }
}

#caixao
{
    position: absolute;
    @include centralizar;
    background-color: $ciano;
    width: 100%;
    height: 140px;
    border-radius: 0px;
    
}

#caixinha
{
    position: absolute;
    z-index: 1;
    @include centralizar;
    background-color: $marrom;
    width: 100%;
    height: 55px;
    border-radius: 20px;
    top: 120px;
}


div.home
{   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: $ciano;
    border-radius: 0px 0px 20px 20px;
    height: 382px;

    div.txt
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 34vw;

        h2
        {
            color: white;
            font-size: 37px;
            margin-top: 0px;
            
        }

        form
        {
            display: flex;
            flex-direction: row;
            width: 522px;
            height:56px;
        }

        input
        {
            
            width: 100%;
            height: 100%;
            border-radius: 28px;
            border: none;
            outline: none;
            font-family: $fonte;
            font-size:24px;
            font-weight: bold;
            color: #575757;
            background-color:#E6E6E6;
            padding-left:30px;
        }

        input::placeholder
        {
            color: #B8B8B8;
        }

        button
        {
            height:30px;
            width:30px;
            margin: 13px 30px 13px -50px;
            border: none;
            background-color:#E6E6E6;
            padding: 0px;
        }
    }

    div.img
        {
            display: flex;
            flex-direction: column;
            max-height: 291px;

            img
            {
                align-self: flex-end;
                margin-top:51px;
            }
        }
}

.conteudoPrincipal{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.recomendados{
    margin: 0 auto;
    width: 1150px;
}

div.produtos{
    
    width: 100%;
    border-radius: 20px;
    margin: 0 auto;
    
}
  
div.produto{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left:20px;
    margin-left: 10px;
    background-color: white;
    border-radius: 10px;

    h4
    {
        align-self: flex-end;
        margin-top: 15px;
        margin-bottom:0;
        font-size:17px;
        font-weight: bold;
    }

    p
    {
        margin-top: 5px;
        margin-bottom:0;
    }

    img.teste
    {
        width:170px;
        height:auto;
        
    }
}

div.titulo
{
    margin-left:200px;
}

img.imagem
{
    align-self: center;
    width:1130px;
    border-radius: 20px;
}

div.imagem
{
    margin: 0 auto;
    margin-top:40px;
}

